#printedpages {
  display: none;
}

@media print {
  #sidebar {
    visibility: hidden;
    display: none;
  }

  .pagination {
    visibility: hidden;
    display: none;
  }

  #printedpages {
    display: inline;
  }

  p {
    page-break-before: auto;
    /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
    page-break-after: auto;
    /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
    page-break-inside: avoid;
    /* or 'auto' */
  }
}



